body{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  background:url('./images/bgblue.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height:100vh;
}

.content{
  align-self: center;
  text-align: center;
  padding: 15px;
  color:rgb(8, 34, 51);
  background:rgb(119, 198, 255);
  min-width: 250px;
  max-height: 300px;
  box-shadow: 3px 3px 10px rgb(8, 34, 51);
  border-radius: 10px;
  font-size: 1.5m;
  transition: 3s;
  

}
.content >h3{
  font-weight: bold;
  
}
.content:hover{
  transform: translate(0px, -100%);  background:rgba(20, 182, 182, 0);
  color:rgba(20, 182, 182, 1);
  font-size:2em;
  border-radius: 15px;
  box-shadow: 0px 0px 0px transparent;

}